:root {
  --white: white;
  --black: black;
  --gray: darkgray;
  --font-family: monospace;
  --font-size: 15px;
  --padding: 10px;
}

* {
  font-family: var(--font-family);
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}
